.text{
  color:var(--LightGray);
  font-size: 16px;
  line-height: 1.5;
  font-weight:400;
}

.title {
  font-size:19px;
  text-align:left;
  margin-bottom:2rem;
  font-weight:700;
}
h1{
  text-align:left;
}
h2 {
  font-size:19px;
  color: var(--BrightYellow);
  margin-bottom: 1rem;
}

.color {
  color: var(--Cyan)
}
.item_1 {
  background-color:white;
}
.item_1 p{
  color: var(--GrayishBlue);
}

